.theme-dark {
	--color-base-00: #000f1a;       /* Deep Oxford Blue background */
	--color-base-05: #000f1a;       /* Darker Oxford Blue */
	--color-base-10: #000f1a;       /* Core Oxford Blue */
	--color-base-20: #000f1a;
	--color-base-25: #000f1a;
	--color-base-30: #d2b48c59;
	--color-base-35: #001826;
	--color-base-40: #00151f;
	--color-base-50: #d2b48c;
	--color-base-60: #d2b48c;
	--color-base-70: #d2b48c;
	--color-base-100: #d2b48c;      /* Tan for contrast text */

	--background-primary: var(--color-base-00);
	--background-secondary: var(--color-base-05);
	--titlebar-background: var(--color-base-00);
	--titlebar-background-focused: var(--color-base-10);

	--text-normal: var(--color-base-100);
	--text-muted: #bfa989;
}

.theme-light {
	--color-base-00: #c9a87e;        /* Very light tan */
	--color-base-05: #d2b48c;        /* Soft Tan */
	--color-base-10: #c9a87e;
	--color-base-20: #c9a87e;
	--color-base-25: #d6c3b3;
	--color-base-30: #ccb7a8;
	--color-base-35: #c9a87e;
	--color-base-40: #000f1a;
	--color-base-50: #ae9387;
	--color-base-60: #000f1a;        /* Oxford Blue */
	--color-base-70: #000f1a;        /* Deeper Oxford Blue */
	--color-base-100: #000f1a;

	--background-primary: var(--color-base-05);
	--background-secondary: var(--color-base-00);
	--titlebar-background: var(--color-base-05);
	--titlebar-background-focused: var(--color-base-10);

	--text-normal: var(--color-base-60);  /* Oxford Blue text */
	--text-muted: #33445c;
}